html {
  font-size: 1px;
}

@wrapper-width: 1690px;

.button {
  border: none;
  background: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &.fill {
    &.extra-blue {
      background-color: #2ca1cf;
      border: 2px solid #2ca1cf;
      >span {
        color: white;
        font-weight: bold;
      }
    }
  }
  &.no-fill {
    &.blue {
      border: 2px solid #0c74a0;
      background-color: white;
      >span {
        color: #0c74a0;
        font-size: 16rem;
      }
    }
    &.white {
      border: 2px solid white;
      >span {
        color: white;
        font-weight: bold;
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 16rem;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
}
body {
  header.mainHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #002a3b;
    height: 135rem;
    >.wrapper {
      width: 100%;
      max-width: @wrapper-width;
      margin: auto;
      display: flex;
      .logo {
        display: flex;
        align-items: center;
        .text {
          color: #ffffff;
          margin-right: 40rem;
          text-align: center;
          p.h {
            font-size: 70rem;
            font-weight: bold;
            margin: 0;
          }
          p.d {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 24rem;
          }
        }
      }
      .activity {
        margin-left: 220rem;
        align-self: flex-end;
        p {
          margin: 0;
          text-align: center;
          font-size: 16rem;
          color: #ffffff;
          span {
            font-weight: bold;
            font-size: 26rem;
            color: #00a2d2;
          }
        }
        .button {
          margin-top: 15rem;
          width: 223px;
          height: 58px;
          >span {
            display: flex;
            align-items: center;
          }
          .icon {
            margin-right: 20rem;
          }
        }
      }
      .menu {
        margin-left: auto;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        .top {
          nav {
            ul {
              margin: 0;
              padding: 0;
              list-style: none;
              display: flex;
              align-items: center;
              height: 72rem;
              li {
                a {
                  text-decoration: none;
                  color: white;
                  font-weight: bold;
                  font-size: 16rem;
                  display: block;
                  padding: 0 42rem;
                }
              }
            }
          }
        }
        .bottom {
          display: flex;
          .icon {
            margin-right: 20rem;
          }
          .button {
            width: 223px;
            height: 58px;
            margin-left: 10rem;
            border-bottom: none;
            >span {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
  .main-section {
    background-image: url(../../src/main-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: ~"calc(100vh - 135rem)";
    >.wrapper {
      width: 100%;
      max-width: @wrapper-width;
      position: relative;
      .title {
        margin-top: 50px;
        padding: 10px 0;
        h1 {
          font-weight: bold;
          font-size: 39.45rem;
          color: #072e3d;
          margin: 0;
        }
        p {
          margin: 0;
          font-size: 20rem;
          font-weight: normal;
          color: #072e3d;
        }
      }
      .button-block {
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 135px;
        margin: auto;
        height: 410px;
        .upload-file {
          background-image: url(../../src/button2-sketch.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 532px;
          height: 115px;
          position: relative;
          z-index: 2;
          button {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            cursor: pointer;
            background-color: transparent;
            background-image: url(../../src/download-file.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border: none;
            width: 393px;
            height: 68px;
            font-weight: bold;
            font-size: 24rem;
            color: white;
            span {
              position: relative;
              right: 50px;
            }
          }
        }
        .upload-image {
          background-image: url(../../src/button1-sketch.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 473px;
          height: 134px;
          position: relative;
          bottom: 32px;
          margin: auto;
          button {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            cursor: pointer;
            background-color: transparent;
            background-image: url(../../src/download-photo.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border: none;
            width: 394px;
            height: 72px;
            font-weight: bold;
            font-size: 24rem;
            color: white;
            span {
              position: relative;
              right: 50px;
            }
          }
        }
        .additional-buttons {
          background-image: url(../../src/button34-sketch.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 418px;
          height: 148px;
          position: relative;
          margin-left: 30px;

        }
      }
    }
  }
}